.page.theme_dark {
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --title-shadow-color: #ff0070;
  --decor-color: var(--accent-color);
  --heading-background-color: var(--accent-color);
  --section-heading-text-color: var(--accent-color);
  --main-title-color: #db00ff;
  --description-color: #f1b2ce;
  --background: url(../images/cover-image-dark.png) center / cover;
  --light-bulb-display: inline;
  --button-hover-color: #ff007066;
}

@media (prefers-color-scheme: dark) {
  :root {
    --subtitle-color: #000028;
    --accent-color: #ff0070;
    --title-shadow-color: #ff0070;
    --decor-color: var(--accent-color);
    --heading-background-color: var(--accent-color);
    --section-heading-text-color: var(--accent-color);
    --main-title-color: #db00ff;
    --description-color: #f1b2ce;
    --background: url(../images/cover-image-dark.png) center / cover;
    --light-bulb-display: inline;
    --button-hover-color: #ff007066;
  }
}
