.page.theme_light {
  --text-and-decor-color: #353430;
  --accent-color: #ff8dcb;
  --decor-color: var(--text-and-decor-color);
  --background: url(../images/cover-image-light.png) center / cover;
  --description-color: var(--text-and-decor-color);
  --heading-background-color: var(--accent-color);
  --main-title-color: #ffc2e6;
  --light-bulb-display: none;
  --button-hover-color: #32312d66;
  --section-heading-text-color: var(--text-and-decor-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-and-decor-color: #353430;
    --accent-color: #ff8dcb;
    --decor-color: var(--text-and-decor-color);
    --background: url(../images/cover-image-light.png) center / cover;
    --description-color: var(--text-and-decor-color);
    --heading-background-color: var(--accent-color);
    --main-title-color: #ffc2e6;
    --light-bulb-display: none;
    --button-hover-color: #32312d66;
    --section-heading-text-color: var(--text-and-decor-color);
  }
}
